<meta charset="utf8">
<a href="http://127.0.0.1/ignicao">Voltar</a>
<table border="1" cellspacing="0" cellpadding="5">
    <tr>
        <th>Id</th>
        <td><?php echo $view_dados[0]['id']; ?></td>
    </tr>
    <tr>
        <th>Título</th>
        <td><?php echo $view_dados[0]['title']; ?></td>
    </tr>
    <tr>
        <th>Descrição</th>
        <td><?php echo $view_dados[0]['description']; ?></th>
    </tr>
    <tr>
        <td>Conteúdo</td>
        <td><?php echo $view_dados[0]['body']; ?></td>
    </tr>
    <tr>
        <th>Autor</th>
        <td><?php echo $view_dados[0]['author']; ?></td>
    </tr>
</table>