<meta charset="utf8">
<a href="http://127.0.0.1/ignicao">Voltar</a>
<form method="post" action="../../../crud/edit/id/<?php echo $view_dados[0]['id']; ?>">
    <input type="hidden" name="id" value="<?php echo $view_dados[0]['id']; ?>">
    <label>Título: <input type="text" name="title" value="<?php echo $view_dados[0]['title']; ?>"></label><br>
    <label>Descrição: <br><textarea rows="5" name="description"><?php echo $view_dados[0]['description']; ?></textarea></label><br>
    <label>Conteúdo: <br><textarea rows="5" name="body"><?php echo $view_dados[0]['body']; ?></textarea></label><br>
    <label>Autor: <input type="text" name="author"value="<?php echo $view_dados[0]['author']; ?>"></label><br>
    <input type="submit" value="Add" name="enviar">
</form>