<meta charset="utf8">
<a href="crud/add">Novo</a>
<table border="1" cellspacing="0" cellpadding="5">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Conteúdo</th>
            <th>Autor</th>
            <th>Adicionado em</th>
            <th>Atualização</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($view_dados as $d): ?>
            <tr>
                <td><?php echo $d['title']; ?></td>
                <td><?php echo $d['title']; ?></td>
                <td><?php echo $d['description']; ?></td>
                <td><?php echo $d['body']; ?></td>
                <td><?php echo $d['author']; ?></td>
                <td><?php echo $d['insert_date']; ?></td>
                <td><?php echo $d['update_date']; ?></td>
                <td>
                    <a href="crud/read/id/<?php echo $d['id']; ?>" title="Visualizar" alt="Visualizar">Visualizar</a>
                    <a href="crud/edit/id/<?php echo $d['id']; ?>" title="Editar" alt="Editar">Editar</a>
                    <a href="crud/delete/id/<?php echo $d['id']; ?>" title="Excluir" alt="Excluir">Excluir</a>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>